

.stefanMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.goBack {
    margin: 30px;
    font-size: 15px;
    border: 2px solid #fff;
    padding: 15px;  
    border-radius: 10px;
    font-weight: 700;
}
.projectExpand {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectTitle {
    font-weight: 700;
}
.projectDescription {
    background-color: #E9DFF7;
    border-radius: 10px;
    margin: 0 7.8rem 3rem;
    padding: 3px 15px;
    color: #1D1724;
    font-size: 15px;
    font-weight: 700;
}
.projectFull {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectFull img {
    width: 80%;
    border-radius: 10px;
    padding-bottom: 50px;
}
.used {
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
}
@media (prefers-color-scheme: white) {
  .projectDescription {
    border-radius: 10px;
    margin: 3rem 7.8rem;
    padding: 3px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background-color: #fff;
    color: #040301;
    border: 3px solid #040301;
  }
}
